
.cormorant-garamond-<uniquifier> {
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.berkshire-swash-regular {
  font-family: "Berkshire Swash", serif;
  font-weight: 400;
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

html{
  margin: 25px;
  /*background-image: linear-gradient(rgba(46, 164, 1, 0.12), rgba(254, 172, 1, 0.18)), url("https://i.pinimg.com/originals/3c/13/04/3c1304121170500d877345397607aa29.jpg");*/ 
}

  
header{
  text-align: center;
  font-family: "Berkshire Swash", serif;
  padding: 16px
  margin-bottom: 10px;
  background-color: #C9F2EB;
  border-radius: 8px;
}

h1{
  font-size: 2.5rem;
  padding-bottom: 10px;
}

h2{
  font-size: 2.0rem;
   padding-bottom: 10px; 
}

  h3{
    font-size: 1.5rem:
     padding-bottom: 10px;
    }


main{
  font-family: "Cormorant Garamond";
 background-color: #BDF2CC;
  padding: 16px;
  border-radius: 8px;
}

  
p{
  padding: 12px 0;
  text-align: center;
}

.quote { 
font-size: 0.8rem;
font-weight: 700;
}



